.mn{
    display: flex;
    flex-direction: column;
}
.fr{
    display: flex;
    margin-bottom: 20px;
}

.sr{
    display: flex;
    margin-bottom: 10px;
}

.mr{
    margin-right: 10px;
}
.ml{
    margin-left: 10px;
}