.mn {
    display: flex;
    flex-direction: column;
}

.fr{
    display: flex;
}

.sr {
    display: flex;
    flex-direction: column;
}

.mr{
    margin-right: 10px;
    margin-bottom: 10px;
}

.md{
    margin-bottom: 10px;
}