<!-- amusement-park-dashboard.component.html -->
<div class="dashboard-container">
    <div class="card card-blue">
        <i class="pi pi-calendar"></i>
        <h2>Total Bookings</h2>
        <p>{{ totalBookings }}</p>
    </div>
  
    <div class="card card-green">
        <i class="pi pi-ticket"></i>
        <h2>Total Vouchers</h2>
        <p>{{ totalVouchers }}</p>
    </div>
  
    <div class="card card-orange">
        <i class="pi pi-users"></i>
        <h2>Total Employees</h2>
        <p>{{ totalUsers }}</p>
    </div>
  
    <div class="card card-red">
        <i class="pi pi-money-bill"></i>
        <h2>Total Earnings</h2>
        <p>{{ totalEarnings }}</p>
    </div>
  
    <div class="card card-purple">
        <i class="pi pi-apple"></i>
        <h2>Total Food Items</h2>
        <p>{{ totalFoodItems }}</p>
    </div>

    <div class="card card-yellow">
        <i class="pi pi-file"></i>
        <h2>Total Ticket Types</h2>
        <p>{{ totalTicketTypes }}</p>
    </div>
  
    <div>
    </div>     
</div>
